body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.grey {
    color: rgb(169, 240, 64);
}

.flexible-container {
    display: flex;
    margin-bottom: 140px;
}

p {
    text-align: justify;
}

.half-width {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}

.half-width img {
    width: 80%;
    padding-left: 10%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
    padding: 10px 40px;
    color: white;
    font-size: large;
    font-weight: 700;
}

.top {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

#cyan {
    color: rgba(112, 216, 143, 0.87);
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.margin {
    margin-top: 200px;
    margin-bottom: 100px;
    text-align: center;
}

h2 {
    font-size: 35px;
}

.expo {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 9px;
    box-shadow: 10px 10px 40px gray;
}

.Experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.title {
    color: rgba(245, 74, 74, 0.877);
}

#ai {
    border-left: 7px solid tomato;
}

#robo {
    border-left: 7px dotted rgb(151, 36, 36);
}

footer p {
    text-align: center;
}